# Chave da OpenWeather (obrigatória).
# Obtida em: https://openweathermap.org/api
VITE_WEATHER_API_KEY=

# URL base da API OpenWeather (obrigatória).
VITE_WEATHER_API_BASE_URL=https://api.openweathermap.org